.card-cars{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 300px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.card-cars .title{
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

.card-cars .title .oto{
    width: 250px;
    height: 150px;
}

.card-cars img{
    width: 20px;
}

.card-cars .cars-body{
    padding-left: 25px;
    padding-right: 20px;
}

.card-cars .cars-body .cars-icon{
    padding-bottom: 15px;
}

.card-cars .cars-body .cars-icon label{
    margin-left: 10px;
}

.card-cars .cars-body button{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #5CB85F;
    background-color: #5CB85F;
    color: white;
    cursor: pointer;
}